.App {
  text-align: center;
}

.masthead {
  height: 87vh;
  min-height: 300px;
  margin: 0 20px;
  background-image: url("./img/photo-1590880795696-20c7dfadacde.jfif");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

#head {
  background-color: #00000094;
  color: white;
}
.site-footer {
  background-image: linear-gradient(
    rgba(128, 128, 128, 0.568),
    rgba(0, 0, 0, 0.842)
  );
  padding: 20px 0;
}

li a,
#btn-link {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.774);
}

li a:hover,
#btn-link:hover {
  color: whitesmoke;
}
